<% include('../layouts/header.ejs') %>
<meta name="keywords" content="HTML5 Template" />
<meta name="description" content="Molla - Bootstrap eCommerce Template" />
<meta name="author" content="p-themes" />
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
  crossorigin="anonymous"
/>

<!-- Favicon -->
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="assets/images/icons/apple-touch-icon.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="assets/images/icons/favicon-32x32.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="assets/images/icons/favicon-16x16.png"
/>
<link rel="manifest" href="assets/images/icons/site.html" />
<link
  rel="mask-icon"
  href="assets/images/icons/safari-pinned-tab.svg"
  color="#666666"
/>
<link rel="shortcut icon" href="assets/images/icons/favicon.ico" />
<meta name="apple-mobile-web-app-title" content="Molla" />
<meta name="application-name" content="Molla" />
<meta name="msapplication-TileColor" content="#cc9966" />
<meta
  name="msapplication-config"
  content="assets/images/icons/browserconfig.xml"
/>
<meta name="theme-color" content="#ffffff" />
<link
  rel="stylesheet"
  href="assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css"
/>
<!-- Plugins CSS File -->
<link rel="stylesheet" href="assets/css/bootstrap.min.css" />
<link
  rel="stylesheet"
  href="assets/css/plugins/owl-carousel/owl.carousel.css"
/>
<link
  rel="stylesheet"
  href="assets/css/plugins/magnific-popup/magnific-popup.css"
/>
<link rel="stylesheet" href="assets/css/plugins/jquery.countdown.css" />
<!-- Main CSS File -->
<link rel="stylesheet" href="assets/css/style.css" />
<link rel="stylesheet" href="assets/css/skins/skin-demo-2.css" />
<link rel="stylesheet" href="assets/css/demos/demo-2.css" />
<link rel="stylesheet" href="/userHome.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>

<% include('../layouts/center.ejs') %>
<div class="page-wrapper">
  <!--Header start-->

  <header class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid p-5">
      <a class="navbar-brand" href="#">
        <img
          width="250rem"
          height="250rem"
          src="https://imgs.search.brave.com/IS3ECAw-N7V5vfLuJOPJQwYn0zPRLDKKDI5LT2JFpxU/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/Y3NvZGJyYW5kLmNv/bS93cC1jb250ZW50/L3VwbG9hZHMvMjAy/MS8xMC9Db3JuZXJz/dG9uZS1Mb2dvLUhv/cml6b250YWwucG5n"
          alt=""
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon togg"
          ><i class="fa-solid fa-bars"></i
        ></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="ms-auto">
          <a class="me-5 text-dark" href="#">Home</a>
          <a class="me-5 text-dark" <% if(locals.user){ %>
                href="/productList">
            <% }else{ %>
              href="/productList">
              
              <% } %>Shop</a>
          <a class="me-5 text-dark" href="#">About Us</a>
          
          <a class="me-4 text-dark" href="#">Contact Us </a>
          <a class="me-4 text-dark" href="/cart "><%   if(locals.user){  %>
            
            
            <i class="fas fa-shopping-cart"></i>
            
            <% } %></a>
          <a href="#"><i class="me-4 fa-regular fa-heart"></i></a>

          <div class="dropdown d-inline">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fa-regular fa-user" style="margin-right: 5px;">
                <% if (locals.user){%>
               <%= user.userName%>
                 <%} %></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" <% if(locals.user) { %> 
                    href="/userProfile">
                <% }else{ %>
                 href="/userSignIn">
                  <% } %>
               
                <% if(locals.user){ %>
                   My profile

               <%  }else{%>
                  Login

              <%   }%>
              </a></li>
              <li><a class="dropdown-item" <% if(locals.user) {%> 
                   href="/userLogout">
                <% }else{ %>
                    href="/userRegister">
                  <% } %>
                <% if(locals.user){ %>
                   Logout

               <%  }else{%> 
                  Sign Up

              <%   }%>
              </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About us</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
            <div class="container">
	        	<div class="page-header page-header-big text-center" style="background-image: url('assets/images/aboutUs.jpg')">
        			<h1 class="page-title text-white">About us<span class="text-white">Who we are</span></h1>
	        	</div><!-- End .page-header -->
            </div><!-- End .container -->

            <div class="page-content pb-0">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 mb-3 mb-lg-0">
                            <h2 class="title">Our Vision</h2><!-- End .title -->
                            <p>
At Cornerstone, our vision transcends the mere creation of furniture; we aspire to craft living spaces that resonate with individuality, functionality, and enduring quality. With an unwavering commitment to innovation and design excellence, we envision a world where every piece we create becomes a cornerstone of comfort and style in homes and spaces across the globe. Rooted in the belief that furniture should seamlessly blend aesthetics with utility, we strive to redefine the way people experience and interact with their surroundings. Our vision is to be more than a furniture provider; we aim to be a catalyst for inspiration, fostering a sense of belonging and personal expression in the spaces we touch. At Cornerstone, we're not just shaping furniture; we're shaping the way people live. </p>
                        </div><!-- End .col-lg-6 -->
                        
                        <div class="col-lg-6">
                            <h2 class="title">Our Mission</h2><!-- End .title -->
                            <p>
At Cornerstone, our mission is to revolutionize the furniture industry by offering meticulously crafted pieces that embody timeless design, unparalleled quality, and sustainable practices. We are dedicated to providing our customers with more than just furniture; our mission is to enhance their lives through thoughtfully curated collections that seamlessly merge functionality and aesthetics. Committed to eco-conscious manufacturing and responsible sourcing, we aim to contribute to a more sustainable and mindful way of living. Cornerstone's mission extends beyond the creation of beautiful furniture; it is a commitment to enriching the homes and lives of our customers while promoting a harmonious coexistence with the environment. </p>
                        </div><!-- End .col-lg-6 -->
                    </div><!-- End .row -->

                    <div class="mb-5"></div><!-- End .mb-4 -->
                </div><!-- End .container -->

                <div class="bg-light-2 pt-6 pb-5 mb-6 mb-lg-8">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 mb-3 mb-lg-0">
                                <h2 class="title">Who We Are</h2><!-- End .title -->
                                <p class="lead text-primary mb-3">we are the architects of inspired living spaces. Rooted in a passion for design excellence and a commitment to unparalleled craftsmanship.</p><!-- End .lead text-primary -->
                                <p class="mb-2"> we transcend the ordinary to curate a collection of furniture that defines elegance and functionality. Our identity is forged in the artistry of creating pieces that stand as testaments to timeless style and enduring quality. More than a furniture brand, we are the embodiment of innovation, sustainability, and the pursuit of a harmonious coexistence between form and function. Welcome to Cornerstone.</p>

                            
                            </div><!-- End .col-lg-5 -->

                            <div class="col-lg-6 offset-lg-1">
                                <div class="about-images">
                                    <img src="assets/images/about/img-1.jpg" alt="" class="about-img-front">
                                    <img src="assets/images/about/img-2.jpg" alt="" class="about-img-back">
                                </div><!-- End .about-images -->
                            </div><!-- End .col-lg-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .bg-light-2 pt-6 pb-6 -->


                <div class="mb-2"></div><!-- End .mb-2 -->

                <div class="about-testimonials bg-light-2 pt-6 pb-6">
                    <div class="container">
                        <h2 class="title text-center mb-3">What Customer Say About Us</h2><!-- End .title text-center -->

                        <div class="owl-carousel owl-simple owl-testimonials-photo" data-toggle="owl" 
                            data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "1200": {
                                        "nav": true
                                    }
                                }
                            }'>
                            <blockquote class="testimonial text-center">
                                <img src="assets/images/testimonials/user-1.jpg" alt="user">
                                <p>
What Customers Say About Us

"Cornerstone has truly transformed our living spaces. The furniture exudes a perfect blend of sophistication and comfort. The attention to detail and quality craftsmanship are evident in every piece. From the seamless ordering process to the timely delivery, their commitment to customer satisfaction is commendable. Our home now feels like a sanctuary, thanks to Cornerstone's exquisite designs. Highly recommended!"</p>
                                <cite>
                                    Jenson Gregory
                                    <span>Customer</span>
                                </cite>
                            </blockquote><!-- End .testimonial -->

                            <blockquote class="testimonial text-center">
                                <img src="assets/images/testimonials/user-2.jpg" alt="user">
                                <p>
"Cornerstone exceeded my expectations! The attention to detail and quality craftsmanship are remarkable. Each piece effortlessly combines style and functionality, elevating my living spaces. The customer service was impeccable, making the entire experience seamless. I highly recommend Cornerstone for those seeking exceptional, timeless furniture."</p>

                                <cite>
                                    Victoria Ventura
                                    <span>Customer</span>
                                </cite>
                            </blockquote><!-- End .testimonial -->
                        </div><!-- End .testimonials-slider owl-carousel -->
                    </div><!-- End .container -->
                </div><!-- End .bg-light-2 pt-5 pb-6 -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

  
  <footer class="">
    <div class="container-fluid border-top border-bottom">
      <div class="row">
        <div class="col-xl-3 mb-3">
          <img
            class="p-4"
            width="90rem"
            height="90rem"
            src="/assets/images/logo/logo-only.png"
            alt=""
          />
          <p class="mb-4 mt-1">
            Welcome to Cornerstore, where beauty meets function in every piece. Elevate your living spaces with our curated collection, a symphony of style and comfort. Transform your home into a haven of beauty and sophistication, exclusively at Cornerstore.
          </p>
          <span class="social-label mt-3 mb-3 d-flex"
            ><a
              href="#"
              class="social-icon social-facebook p-3"
              title="Facebook"
              target="_blank"
              ><i class="icon-facebook-f"></i
            ></a>
            <a
              href="#"
              class="social-icon social-twitter p-3"
              title="Twitter"
              target="_blank"
              ><i class="icon-twitter"></i
            ></a>
            <a
              href="#"
              class="social-icon social-instagram p-3"
              title="Instagram"
              target="_blank"
              ><i class="icon-instagram"></i
            ></a>
            <a
              href="#"
              class="social-icon social-youtube p-3"
              title="Youtube"
              target="_blank"
              ><i class="icon-youtube"></i></a
          ></span>
        </div>

        <div class="col-xl-2"></div>
        <div class="col-xl-7 mb-4">
          <div class="container-fluid mt-5">
            <div class="row links-wrap mt-5">
              <div class="col-6 col-sm-6 col-md-3">
                <ul class="list-unstyled">
                  <li class="mb-2">
                    <a class="text-dark" href="#">About us</a>
                  </li>
                  <li class="mb-2">
                    <a class="text-dark" href="#">Services</a>
                  </li>
                  <li class="mb-2"><a class="text-dark" href="#">Blog</a></li>
                  <li class="mb-2">
                    <a class="text-dark" href="#">Contact us</a>
                  </li>
                </ul>
              </div>

              <div class="col-6 col-sm-6 col-md-3">
                <ul class="list-unstyled">
                  <li class="mb-2">
                    <a class="text-dark" href="#">Support</a>
                  </li>
                  <li class="mb-2">
                    <a class="text-dark" href="#">Knowledge base</a>
                  </li>
                  <li class="mb-2">
                    <a class="text-dark" href="#">Live chat</a>
                  </li>
                </ul>
              </div>

              <div class="col-6 col-sm-6 col-md-3">
                <ul class="list-unstyled">
                  <li class="mb-2"><a class="text-dark" href="#">Jobs</a></li>
                  <li class="mb-2">
                    <a class="text-dark" href="#">Our team</a>
                  </li>
                  <li class="mb-2">
                    <a class="text-dark" href="#">Leadership</a>
                  </li>
                  <li class="mb-2">
                    <a class="text-dark" href="#">Privacy Policy</a>
                  </li>
                </ul>
              </div>

              <div class="col-6 col-sm-6 col-md-3">
                <ul class="list-unstyled">
                  <li class="mb-2">
                    <a class="text-dark" href="#">Nordic Chair</a>
                  </li>
                  <li class="mb-2">
                    <a class="text-dark" href="#">Kruzo Aero</a>
                  </li>
                  <li class="mb-2">
                    <a class="text-dark" href="#">Ergonomic Chair</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--payment images-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-3">
          <img
            class="mt-2"
            src="assets/images/payments.png"
            alt="Payment methods"
            width="272"
            height="20"
          />
        </div>
        <div class="col-xl-6"></div>
        <div class="col-xl-3 ms-auto mt-1">
          Copyright © 2023 Cornerstone Store. All Rights Reserved.
        </div>
      </div>
    </div>
  </footer>
  <!-- End .footer -->
</div>
<!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top">
  <i class="icon-arrow-up"></i>
</button>

<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div>
<!-- End .mobil-menu-overlay -->

<div class="mobile-menu-container mobile-menu-light">g
  <div class="mobile-menu-wrapper">
    <span class="mobile-menu-close"><i class="icon-close"></i></span>

    <form action="#" method="get" class="mobile-search">
      <label for="mobile-search" class="sr-only">Search</label>
      <input
        type="search"
        class="form-control"
        name="mobile-search"
        id="mobile-search"
        placeholder="Search product ..."
        required
      />
      <button class="btn btn-primary" type="submit">
        <i class="icon-search"></i>
      </button>
    </form>

    <ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link active"
          id="mobile-menu-link"
          data-toggle="tab"
          href="#mobile-menu-tab"
          role="tab"
          aria-controls="mobile-menu-tab"
          aria-selected="true"
          >Menu</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="mobile-cats-link"
          data-toggle="tab"
          href="#mobile-cats-tab"
          role="tab"
          aria-controls="mobile-cats-tab"
          aria-selected="false"
          >Categories</a
        >
      </li>
    </ul>

    <div class="social-icons">
      <a href="#" class="social-icon" target="_blank" title="Facebook"
        ><i class="icon-facebook-f"></i
      ></a>
      <a href="#" class="social-icon" target="_blank" title="Twitter"
        ><i class="icon-twitter"></i
      ></a>
      <a href="#" class="social-icon" target="_blank" title="Instagram"
        ><i class="icon-instagram"></i
      ></a>
      <a href="#" class="social-icon" target="_blank" title="Youtube"
        ><i class="icon-youtube"></i
      ></a>
    </div>
    <!-- End .social-icons -->
  </div>
  <!-- End .mobile-menu-wrapper -->
</div>
<!-- End .mobile-menu-container -->

<!-- Sign in / Register Modal -->
<div
  class="modal fade"
  id="signin-modal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true"><i class="icon-close"></i></span>
        </button>

        <!-- End .form-box -->
      </div>
      <!-- End .modal-body -->
    </div>
    <!-- End .modal-content -->
  </div>
  <!-- End .modal-dialog -->
</div>
<!-- End .modal -->

<!-- Plugins JS File -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery.hoverIntent.min.js"></script>
<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/superfish.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/jquery.plugin.min.js"></script>
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/jquery.countdown.min.js"></script>
<script
  src="https://kit.fontawesome.com/c0b612fc07.js"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
  crossorigin="anonymous"
></script>


<!-- Main JS File -->
<script src="assets/js/main.js"></script>
<script src="assets/js/demos/demo-2.js"></script>
<% include('../layouts/footer.ejs') %>
